.landingPage{
  height: 550px;
   background-image: url("../images/landing.jpg")
}
.landingPage img{
  position: relative;
  top: 150px;
  left: 500px;
}
.landingPage h3{
  position: relative;
  top: 150px;
  left: 450px;
  color: white
}
.red{
  background-color: red;
  height:100px;
  width: 200px;
}
#Breakfast{
  background-image: url("../images/breakfast.jpg");
  color: white;
  position: relative;
}
#Lunch{
  background-image: url("../images/lunch.jpg");
  color: white;
}
#Dinner{
  background-image: url("../images/dinner.jpg");
  color: white;
}
#Happy-hour{
 height: 100px;
}
#Party-time{
  background-color: #ff3647;
  height: 100px;
}
#landing{
  height: 200px;
}
.fast-Food{
  margin: auto;
  border-style: solid;
  border-width: 20px;
  box-shadow: 0 0 10px 10px #F2F2F2;
  border-color: white;
  margin-top: 3em;

}
.cardd{
  float: left;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 10px 10px #FFFFFF;
  border-color: white;
  margin-top: 3em;
}
.food-text{
  text-align: left;
  padding-right: 50px;
  margin-top: 3em;

}
.drinks{
  float: right;
  padding-right:10px 10px 10px 10px ;
  box-shadow: 0 0 10px #FFFFFF;
  border-color: white;
  margin-top: 3em;
  margin-bottom: 2em;
}
.drink-text{
  text-align: right;
  margin-top: 3em;
}
.foodsBg{
  background-image: url("../images/foodsBg.jpg");
}

.demo {
  background-image: url("../images/foodsBg.jpg");
  height: 500px;
}
.comments p{
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  padding:10px;
  border: 2px solid rgba(211, 211, 211, 0.14);
}
.abby{
  background-color: white;
  height: 300px;
  margin-top: 30px;
}
.imgtext{
  position: absolute;
  left:60px;
  bottom: -60px;
  font-family: serif;
  font-size: 20px;
  color: #F15A29;
  font-weight: bold;
}
